/* header */
.sticky-top {
    top: 0;
}

.date-cta {
    font-size: 0.8rem;
    background: #e9e9e9;
    z-index: 2;
    letter-spacing: -0.4px;
}

.date,
.cta {
    width: 50%;
}

.cta {
    right: -4px;
    top: 13px;
}

.sign,
.sub {
    padding: 6px 3px;
}

.sub {
    background: #fff;
    color: #f72210;
}

/* logo-menu style*/
.logo-menu {
    background: #f72210;
    padding: 14px 10px;
}

.svg {
    fill: #fff;
    width: 150px;
}

.icon {
    width: 32px;
    height: 32px;
    right: 0;
}

.icon::before,
.mid,
.icon::after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background-color: #fb9a94;
    margin-left: auto;
    margin-right: auto;
}

.mid {
    margin: 4px auto;
}

/* main*/
.main {
    padding-top: 20px;
}

.title {
    font: bold 16px/16px sans-serif;
    color: #03030366;
    padding-bottom: 11px;
}

.country {
    font: bold 17px/16px sans-serif;
    text-transform: uppercase;
    color: #f72210;
    padding: 8px 15px 9px;
    background-color: #ffffffe6;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
