/* header */
.sticky-top {
    top: 0;
}

.date-cta {
    font-size: 0.8rem;
    background: #e9e9e9;
    z-index: 2;
    letter-spacing: -0.4px;
}

.date,
.cta {
    width: 50%;
}

.cta {
    right: 8px;
    top: 13px;
}

.sign,
.sub {
    padding: 6px 3px;
}

.sub {
    background: #fff;
    color: #f72210;
}

/* logo-menu style*/
.logo-menu {
    background: #f72210;
    padding: 14px 10px;
}

.svg {
    fill: #fff;
    width: 140px;
}

.icon {
    width: 32px;
    height: 32px;
    right: 4px;
}

.icon::before,
.mid,
.icon::after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background-color: #fb9a94;
    margin-left: auto;
    margin-right: auto;
}

.mid {
    margin: 4px auto;
}

/* main*/
.main {
    padding-top: 20px;
}

.title {
    font: bold 16px/16px 'Roboto Condensed', sans-serif;
    color: #03030366;
    padding-bottom: 11px;
}

.image {
    margin-bottom: 10px;
}

.tile {
    font: bold 17px/16px sans-serif;
    text-transform: uppercase;
    color: #f72210;
    padding: 8px 15px 9px;
    background-color: #ffffffe6;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.headline .h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.375rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.news-summ {
    font-size: 13px;
}

/* featured styles */
.story {
    padding: 14px 0;
}

.img {
    margin-right: 13px;
}

.h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.06rem;
    line-height: 20px;
}

.rep {
    font-size: 0.82rem;
    margin: 0;
}